# Telegram bot runtime configuration
APP_ENV=prod
LOG_LEVEL=WARNING
BOT_TOKEN=
WEBHOOK_URL=https://workshop-ai-1.cutcode.dev/webhook
OWNER_TELEGRAM_ID=124751581

# PostgreSQL connection settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# OpenAI settings
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
